/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

::selection      { background: #3C585B; color: white; }
::-moz-selection { background: #3C585B; color: white; }


html,
body {
	font: 400 16px/1.5em 'Open Sans', sans-serif;
	color: #555;
	z-index: 0;
	min-height: 100%;
	position: relative;
}


html,
body,
header,
#menu-icon {
	background: #F8F8F8;
}

.narrow {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	max-width: 500px;
	margin: 0px auto;
}

body.narrow {
	padding: 30px 0 50px;
}

form {
	padding: 0 15px;
}

header {
	height: 65px;
	width: 100%;
	z-index: 10;
}

hr {
	clear: both;
	border: 0;
	background: none;
	margin: 2em 0;
}

hr.clear {
	margin: 0;
}

hr.line {
	border-bottom: 1px solid #CCC;
	margin: 1em 0;
}

a {
	color: #48cbec;
	text-decoration: none;
	outline: none;
}

a:active {
	color: #FF6600;
}

header a.fa-lg {
	color: inherit;
	text-decoration: none;
}

header a.fa-lg:hover {
	color: #000;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	color: #444;
	margin: .5em 0;
	line-height: 1.5em;
	text-align: center;
	/* color: #A05A2C; /* color of big logo text */
}

h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.25em;
	color: #000;
	text-align: center;
	margin: 5px 0 1em;
}

h3 {
	color: #000;
	font-weight: 800;
	font-size: 20px;
	margin: 5px 0 1em;
}

fieldset legend {
	display: block;
	width: 100%;
	border-bottom: 1px solid #CCC;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	text-indent: .75em;
	margin-bottom: 2em;
}

fieldset legend label {
	text-indent: 0;
}

.narrow input {
	margin: 0px auto 1em;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=search],
input[type=tel],
textarea,
select {
	/*-webkit-appearance: none;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border: 0;
	border-bottom: 1px solid #6F8A91;
	padding: 7px 2px;
	background: none;
	font: 300 26px/1.25em 'Open Sans', sans-serif;
	color: #666;
	outline: none;
	display: block;
	width: 100%;
	max-width: 500px;
	position: relative;
}

textarea {
	resize: none;
	overflow-y: auto;
	line-height: 1.25em;
}

select {
	font-size: 22px;
	border: 1px solid #6F8A91;
	margin-bottom: 1.5em;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
	border-color: #FF6600;
	color: #000;
}

::-webkit-input-placeholder {
	font: 300 26px/1.25em 'Open Sans', sans-serif;
	color: #B3B3B3;
}

:-moz-placeholder { /* Firefox 18- */
	font: 300 26px/1.25em 'Open Sans', sans-serif;
	color: #B3B3B3;
}

::-moz-placeholder { /* Firefox 19+ */
	font: 300 26px/1.25em 'Open Sans', sans-serif;
	color: #B3B3B3;
}

:-ms-input-placeholder {  
	font: 300 26px/1.25em 'Open Sans', sans-serif;
	color: #B3B3B3;
}



button,
input[type=button],
input[type=submit],
.button {
	background: #6F8A91;
	color: #FFF;
	font: 40px/1.25em 'Oswald', sans-serif;
	text-transform: uppercase;
	border: 0;
	padding: 8px 30px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: .25em;
	outline: none;
}


button:hover,
input[type=button]:hover,
input[type=submit]:hover,
.button:hover {
	background: #52676C;
}


button:focus, button:active,
input[type=button]:focus, input[type=button]:active, 
input[type=submit]:focus, input[type=submit]:active,
.button:focus, .button:active {
	background: #FF6600;
}

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
.button:disabled {
	background: #7A8487;
	cursor: default;
}


.half-side {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 15px 30px 5px;
}

.logo {
	max-width: 80px;
	vertical-align: middle;
}

.logo-big {
	max-width: 300px;
	margin: 0 auto 50px;
}

#menu-icon {
	cursor: pointer;
	color: inherit;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 5px 30px 15px;
}


footer {
	margin: 2.5em auto 0;
	max-width: 460px;
	border-top: 1px solid #CCC;
	font-size: 11px;
	line-height: 2em;
	text-align: center;
	color: #888;
	padding: 0 20px 15px;
}

footer a {
	color: #555;
	text-decoration: underline;
}


.req {
	color: #CC0000;
	font-weight: bold;
}

p {
	text-align: left;
	font-size: 16px;
	margin: 1.25em 0;
}


nav {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: fixed;
	z-index: 999999;
	top: 0;
	right: -200px;
	height: 100%;
	background: #333;
	color: #FFF;
	width: 200px;
	padding: 10px 0;
	overflow-y: scroll;
	font-size: 16px;

	box-shadow: 0 0 5px #333;
}

nav b {
	padding: 0 15px;
	margin-bottom: .25em;
}

nav a {
	color: #CCC;
	text-decoration: none;
	display: block;
	font-weight: 300;
	font-size: 14px;
	padding: 3px 15px;
}

nav a:active {
	color: #333;
	background: #FFF;
	text-decoration: none;
}

nav a > i {
	margin-right: .6em;
}

nav > b {
	display: block;
	margin-top: 1em;
}



mark {
	background: #FCFC74;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	color: #333;
}


th {
	font-weight: bold;
	text-align: center;
	color: #000;
}


.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

kbd {
	font-family: Monaco, "Courier New";
	padding: 2px 4px;
	margin: 0px 2px;
	border-radius: 3px;
	background: #FFF;
	color: #333;
	font-size: 11px;
	box-shadow: 1px 1px 1px #333;
	cursor: default;
}

b,
.bold {
	font-weight: bold;
}

i,
.italic {
	font-style: italic;
}

sup {
	position: relative;
	top: -.4em;
	font-size: 12px;
}

small {
	font-size: 85%;
}

big {
	font-size: 115%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.nowrap {
	white-space: nowrap;
}

.clr-red {
	color: #CC0000;
}

.hide {
	display: none;
}


.profilePicture {
	vertical-align: middle;
}

.instructions {
	padding: 10px 15px;
	margin: 0px auto 2em;
	font-size: 13px;
	background: #DDEEFF;
	border-radius: 7px;
	max-width: 850px;
	border-bottom: 2px solid #225588;
}

.instructions p {
	margin: .75em 0;
	font-size: 14px;
	line-height: 1.5em;
}






.stuck {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

.quick-links {
	font-size: 12px;
}

.header-text {
	font-size: 14px;
	color: #000;
	display: inline-block;
	line-height: 1.5em;
	vertical-align: middle;
}





.card {
	background: #FFF;
	border: 1px solid #AAA;
	box-shadow: 0px 1px 1px #AAA;
	max-width: 500px;
	margin: 0px auto 2em;
}

.card.padded {
	padding: 10px;
}

.card.wide {
	max-width: none;
}

.member-link {
	text-decoration: none;
	display: block;
	font-weight: 300;
	font-size: 16px;
	padding: 8px;
	border-top: 1px solid #DDD;
	white-space: nowrap;
	overflow: hidden;
}

.member-link:hover {
	text-decoration: none;
	background: #FFFFDD;
}

.del {
	text-decoration: none;
	color: #CC0000;
}

.del:hover {
	color: #FF0000;
	text-decoration: none;
}

a[href='#'] {
	text-decoration: none;
}






.sticky {
	line-height: 1.5em;
}

.sticky p {
	font-size: 13px;
}

.sticky.error {
	color: #FFF;
	background: #B94A48;
}


.prettycheckbox a {
	zoom: 80%;
}

.smarty-autocomplete {
	line-height: 1.25em;
}




@media (min-width: 501px) {
	a:hover,
	a:active {
		color: #0FAACF;
		text-decoration: underline;
	}

	nav a:hover {
		color: #333;
		background: #FFF;
		text-decoration: none;
	}
}




@media (max-width: 500px) {
	h1 {
		font-size: 28px;
	}

	.member-link {
		font-size: 12px;
		padding: 0px;
		line-height: 1em;
		font-weight: normal;
		border-top: 1px solid #EFEFEF;
	}

	.card .profilePicture {
		width: 35px;
		margin-right: .25em;
	}

	.half-side {
		padding: 10px 25px 0;
	}

	.header-text,
	header .fa-download,
	header .fa-print {
		display: none;
	}

	#menu-icon {
		padding: 5px 25px 15px;
	}

	nav a {
		padding: 5px 15px;
	}
}